# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Notification job

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *"

permissions:
  contents: read

jobs:
  run:
    environment: 'prod'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run
      run: |
        python bot.py
      env:
        TELEGRAM_API_TOKEN: ${{ secrets.TELEGRAM_API_TOKEN }}
        TELEGRAM_USER_ID: ${{ vars.TELEGRAM_USER_ID }}
        HOME_CITY: ${{ vars.HOME_CITY }}
        COUNTRY_FILTER: ${{ vars.COUNTRY_FILTER }}
